body{margin: 0px;
     padding: 0px;
background-color:#E7EAFD; } 

  .image{
    background-color: #F2F2F2;
  }
     .nice{
          margin: 15px 15px;
     }
       
     .hero{ margin: 30px;
      display: flex;
          justify-content: space-around;
           gap: 250px;
          
          
     }
       .invest{
           width: 200px;
       }
 
     
 .items ul {  display: flex;
     flex-direction: row;
      list-style: none;
             font-weight: bold;
      gap: 20px;
      cursor: pointer;
      
      
 }
 ul:hover{
         color: blue;
 }
   .news{
        display: flex;
        justify-content: space-around;
   }
h1{
        font-size: 70px;
        font-weight: 600;
        margin-top: 200px;
}
  h2{
     width: 350px;
  }  


  .latest{ 
      h1{ padding-left: 280px;
          font-weight: bolder;
     }

  }
  .posts{ display: grid;
         grid-template-columns: 1fr 1fr;
      img{ height: 390px;
       width: 440px;
  }

  }
  
  h2{ background-color: #F2F2F2;
    font-size:40px;
    font-weight:bold;
    

  }

















  @media (max-width: 480px) {
     .hero{
          flex-direction: column;
     }
  }
      .items ul{
          display: none;
      }


    @media (max-width: 768px) {
     .hero{
          flex-direction: column;
     }
  }
   .items ul{
          display: none;
      } 
   @media (max-width: 1024px) {
     .hero{
          flex-direction: column;
     }
  }
   
  @media (max-width:480px) {
     .news{
          flex-direction: column;
          justify-content: center;
     }
  }

  @media (max-width: 768px) {
     .news{
          flex-direction:column;
          justify-content: center;
     }
  }

  @media (max-width: 1024px) {
     .hero{
          flex-direction: row;
     }
  }
    
  @media (max-width:480px){
    .posts  {
              display: flex;
              flex-direction: column;
      }
  }
    @media (max-width:768px){
    .posts  {
              display: flex;
              flex-direction: column;
      }
  }
    @media (max-width:1024px){
      .posts {
              display: grid;
              grid-template-columns: 1fr 1fr;
      }
  }
    